<body>
<p class="logo">
  <a class="logo"><img src="/assets/openvpn.jpg" style="width:650px;height:350px;"></a>
</p>


<div class="row">
  <div class="column">
    <h2>What is OpenVPN?</h2>
    <p>VPNs send data to and from the internet in virtual tunnels.<br>
      These digital tunnels both encapsulate your information, camouflaging it by wrapping it in layers of additional data,
      and encrypt it, translating it into a special code that only your intended destination can decipher. These two steps
      go a long way toward defending your data.<br><br>
      In addition to being the all-around safest VPN protocol, OpenVPN offers other advantages you can
      read about at <a href="openvpn.net">www.openvpn.net</a></p>
  </div>

  <div class="column">
    <h2>Why you should set up OpenVPN</h2>
    <p>
      I use OpenVPN for server and network administration. Proxmox servers  comes with a web interface
      to controle each server. This web interface can be reached from my local lan network, or it can be configured to take a romote connection.
      The problem is that the web interface have no encryption. <br> With OpenVPN can i get into my lan network from anywhere and
      make changes without the risk of getting hacked.

    </p>
  </div>

  <div class="column">
    <h2>Current system setup:</h2>
    <p>
      Operating system: Ubuntu 18.04<br>
      OpenVPN version: OpenVPN 2.8.4<br><br>
    </p>
    <h2>More information:</h2>
    <p>
      Webpage: <a href="www.openvpn.net">www.openvpn.net</a><br>
      Download: <a href="https://openvpn.net/download-open-vpn/">https://openvpn.net/download-open-vpn/</a><br>
      FAQs: <a href="https://openvpn.net/vpn-server-resources/#faqs">https://openvpn.net/vpn-server-resources/#faqs</a>

    </p>
  </div>
</div>
</body>
