body{
  height: 100%;
  width: 100%;
  background-color: darkgray;
}

p.logo {
  text-align: center;
  padding: 20px;
}

.column {
  float: left;
  padding: 50px;
  width: 33.33%;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
