<body>
<p class="logo">
  <a class="logo"><img src="/assets/plex.jpeg" style="width:650px;height:350px;"></a>
</p>


<div class="row">
  <div class="column">
    <h2>What is Plex Media Server?</h2>
    <p>Plex brings together all the media that matters to you.
      Your personal collection will look beautiful alongside stellar streaming content.
      Enjoy Live TV & DVR, a growing catalog of great web shows, news, and podcasts.<br>
      It's finally possible to enjoy all the media you love in a single app, on any device, no matter where you are.<br><br>
      Read more about Plex at <a href="plex.tv">www.plex.tv</a></p>
  </div>

  <div class="column">
    <h2>What does Mixtechs plex server offer?</h2>
    <h2>Movies</h2>
    <p>For now a about 20 movies</p><br>
    <h2>Tv-show</h2>
    <p>More coming<br><br>
    If you would like to upload movies or tv-shows to the server, Pleace contact the server administrator at ehhc.mixtech@gmail.com</p>

  </div>

  <div class="column">
    <h2>Current system setup:</h2>
    <p>
      Operating system: Ubuntu 18.04<br>
      Plex media server version: Plex 1.9.2<br><br>
    </p>
    <h2>More information:</h2>
    <p>
      Webpage: <a href="www.plex.tv">www.plex.tv</a><br>
      Download: <a href="https://www.plex.tv/media-server-downloads/#plex-app">https://www.plex.tv/media-server-downloads/</a><br>
      FAQs: <a href="https://support.plex.tv/">https://support.plex.tv/</a>

    </p>
  </div>
</div>
</body>
