<body>
<p class="logo">
  <a class="logo"><img src="/assets/ownCloud.jpg" style="width:650px;height:350px;"></a>
</p>


<div class="row">
  <div class="column">
    <h2>What is OwnCloud?</h2>
    <p> OwnCloud is a file sharing server that puts the control and security of your own data back into your hands.<br>
      The most common compeditors is Dropbox or OneDrive that offer the same functions.<br><br>
      OwnCloud is available under an ‘open source license‘, which gives you the right to examine, share and modify it. ownCloud
      is developed by an international community of both paid and volunteer contributors</p>
  </div>

  <div class="column">
    <h2>Request Owncloud account from mixtech.no:</h2>
    <p>
      This service os for friends and family only!<br><br>
      To obtain your own personal Owncloud account, pleace write an email to the server administrator where
      you explain who you are for verification and username and email address for registration.<br><br>

      To: ehhc.mixtech@gmail.com<br>
      subject: owncloud account<br>
      info:<br>
      who?, username?, email-address?.

    </p>
  </div>

  <div class="column">
    <h2>Current system setup:</h2>
    <p>
      Operating system: Ubuntu 18.04<br>
      Owncloud version: OwnCloud X<br><br>
    </p>
    <h2>Access:</h2>
    <p>
      URL: <a href="www.owncloud.mixtech.no">www.owncloud.mixtech.no</a><br>
      Desktop download link: <a href="https://owncloud.org/download/#owncloud-desktop-client">owncloud.org/download</a><br>
      Enter your username and password when asked
    </p>
  </div>
</div>
</body>
