<body>
  <p class="logo">
    <a class="logo"><img src="/assets/logo-mixtech.png" style="width:850px;height:300px;"></a>
  </p>


  <div class="row">
    <div class="column">
      <h2>What is Mixtech.no</h2>
      <p> Mixtech.no is a platform for different applications.
        The intention was to learn more about networking, operating systems, and web interfaces.<br><br>
        I will try to update this page with new services and system updates in the future.</p>
    </div>

    <div class="column">
      <h2>System Components:</h2>
      <p>
        3 X Dell Poweredge r710 servers<br>
        1 X Dell M1000E PowerEdge M1000e<br>
        1 X Cisco SG250-50HP-K9 Switch<br>
        1 X APC Smart-UPS 1500VA LCD 230V<br>
        Total CPU cores is 48 cores<br>
        Total ram is 384 GB<br>
        Total storage is 145 TB in raid 5<br>
      </p>
    </div>

    <div class="column">
      <h2>Current system setup:</h2>
      <p>
        Operating system: Proxmox VE 6.1<br>
        Unraid OS 6.8.1<br><br>
      </p>
      <h2>This setup is currently running:</h2>
      <p>
        4 X Ubuntu 18.04 servers<br>
        1 X Plex media server<br>
        1 X Minexraft 1.15.2 server<br>
        1 X Open vpn server<br>
        1 X OwnCloud server<br>
        1 X Sambashare server<br>
        4 X Apache 2 Servers<br>
      </p>
    </div>
  </div>
</body>
